* {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 10px;
}

:root {
    --primary-color: #1a202e;
    --background-color: #232b3e;
    --primary-text-color: #e6e6e6;
    --secondary-text-color: #96a2b4;
    --text-white: #fff;
    --top-navbar-height: 6.2rem;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Kodchasan", sans-serif;
    box-sizing: border-box;
}

/* top navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    height: var(--top-navbar-height);
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    width: 26rem;
}

.logo img {
    height: 6rem;
    user-select: none;
}

.utilities {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.utilities-btn {
    padding: 1.5rem;
    cursor: pointer;
}

.utilities-btn svg {
    stroke: white;
    stroke-width: 0.5;
}

.utilities-avatar {
    padding: 1.5rem;
    cursor: pointer;
    position: relative;
}

.utilities-avatar img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    user-select: none;
}

.edit-profile-title {
    display: none;
    position: absolute;
    top: 80%;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.utilities-avatar:hover .edit-profile-title {
    display: block;
}

/* notification */
.notification {
    position: relative;
}

.noti-box {
    position: absolute;
    top: 92%;
    left: -15rem;
    width: 325px;
    height: 465px;
    background-color: #1b1e27;
    z-index: 1;
    box-shadow: 0 1px 2.94px 0.06px #041a3729;
    overflow: hidden;
    border: 1px solid #2c3446;
    border-radius: 10px;
    display: none;
}

.noti-title {
    padding: 20px;
    text-align: left;
    background-color: #7366ff;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #363636;
    user-select: none;
}

.noti-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.noti-item {
    padding: 11px;
    font-size: 1.3rem;
    color: #96a2b4;
    border-bottom: 1px solid #5e5e5e;
}

.noti-see-all {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    background-color: #1b1e27;
    cursor: pointer;
    border-top: 1px solid #363636;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

.notification-wrapper {
    width: 100%;
    height: 590px;
    display: flex;
    justify-content: center;
}

.notification-list {
    width: 80%;
    overflow-y: auto;
    list-style: none;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    box-shadow: 0 1px 2.94px .06px #041a3729;
    background-color: var(--primary-color);
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #e4e4e4;
    color: #96a2b4;
    font-size: 2.5rem;
    font-weight: 600;
}

/* body */

main {
    margin-top: 6.2rem;
    background-color: var(--background-color);
    width: 100%;
    min-height: calc(100vh - var(--top-navbar-height));
}

    /* side-bar */
.side-bar {
    position: fixed;
    top: var(--top-navbar-height);
    left: 0;
    z-index: 1;
    background-color: var(--primary-color);
    width: 26rem;
    height: calc(100vh - var(--top-navbar-height));
    box-sizing: border-box;
}

.user-info {
    display: flex;
    align-items: center;
    margin: 2.5rem 1.5rem;
    padding: 0 1rem;
    height: 5.5rem;
    border-bottom: 1px solid #2c3446;
}

.user-info__avatar img {
    width: 4rem;
    height: 4rem;
    border-radius: 6px;
    box-shadow: 4px 3px 6px #0003;
    user-select: none;
}

.user-info__info {
    color: var(--primary-text-color);
    margin-left: 1rem;
    cursor: default;
}

.user-info__info p:first-child {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0 0.2rem 0;
    padding: 0;
    text-transform: capitalize;
}

.user-info__name {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 700;
    padding: 0;
    margin: 0.5rem 0 1.6rem 0;
}

.menu {
    color: #ffffffb3;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    padding-top: 1.5rem;
    font-weight: 600;
    padding: 5px 30px;
    opacity: .7;
    user-select: none;
}

.side-bar-utilities ul {
    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none;
}

.side-bar-utilities li {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0 1.3rem;
    font-weight: 600;
}

.side-bar-utilities li a {
    display: block;
    padding: 1.2rem 1.5rem;
    line-height: 2.2rem;
    text-decoration: none;
    color: var(--primary-text-color);
}

.side-bar-utilities li svg {
    transform: translateY(0.8rem);
    margin-right: 1rem;
}

.side-bar-utilities li:hover {
    background-color: #0003;
    border-radius: 5px;
        cursor: pointer;
}

/* main content */
.content {
    margin-left: 26rem;
    min-height: calc(100vh - var(--top-navbar-height));
    padding: 2rem 2.2rem 4rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.title {
    color: #ffffffb3;
    font-size: 2.4rem;
    font-weight: 800;
    cursor: default;
    user-select: none;
}

.device {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.confirm-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 2.94px 0.06px #041a3729;
}

.confirm-box > p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-text-color);
    margin-bottom: 1.5rem;
}

.confirm-box > div {
    display: flex;
    gap: 1.5rem;
}

.confirm-box > div > button {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.confirm-box>div>button:hover {
    background-color: rgba(238, 236, 236, 0.692);
}

.device-detail {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5.5px;
    min-height: 9rem;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 2.94px 0.06px #041a3729;
    background-color: var(--primary-color);
}

.clock-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 25px;
    min-height: 9rem;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 2.94px 0.06px #041a3729;
    background-color: var(--primary-color);
    border: solid 1px #ff8900;
}

.clock-box > svg {
    width: 7rem;
    height: 7rem;
}

.timer {
    color: #c7460f;
    font-size: 4rem;
    font-weight: bolder;
    width: 176px;
}

.device-detail > svg {
    width: 5rem;
    height: 5rem;
}

.device-detail > p {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-text-color);
    margin-left: 1.5rem;
    cursor: default;
}

.power {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    fill: #e4e4e4;
}

.power-status {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #e4e4e4;
    cursor: default;
}

.power-status--active {
    fill: #28a745;
}

.power svg{
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}

.specifications {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    width: 100%;
}

.environmental-data {
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 1px 2.94px .06px #041a3729;
    border: none;
    padding: 2.5rem;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    min-height: 15rem;
    margin-top: 3.2rem;
}

.data-title {
    display: block;
    margin-bottom: 0 0 20px 0;
    font-weight: 700;
    font-size: 2rem;
    cursor: default;
}

.data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-container svg {
    width: 5rem;
    height: 5rem;
}

.data-value {
    font-size: 3rem;
    font-weight: 800;
}

.recently-parked {
    background-color: var(--primary-color);
    width: 100%;
    min-height: 15rem;
    margin-top: 3.2rem;
    box-shadow: 0 0 10px #0003;
    border-radius: 10px;
    padding: 1.5rem;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.table-name {
    color: #96a2b4;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    cursor: default;
    user-select: none;
}

.full-table-btn {
    padding: 1rem 2rem;
    border-radius: 20px;
    user-select: none;
}

.full-table-btn a {
    color: #96a2b4;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}

.full-table-btn:hover {
    background-color: #0003;
}

.table-content {
    color: #96a2b4;
    width: 100%;

}

.table-content > table {
    width: 100%;
    border-collapse: collapse;
}

.table-content > table > thead {
    vertical-align: bottom;
    cursor: default;
}

.table-content>table>thead>tr>th {
    background-color: #15181d;
    color: #abaaaa;
    padding: 0 10px;
    height: 50px;
    vertical-align: middle;
    font-weight: 500;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
}

.table-content>table>tbody>tr>td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid rgba(120, 130, 140, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: #96a2b4;
    background-color: #1a202e;
    font-size: 1.4rem;
    font-weight: 500;;
}

.delete-btn svg {
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    box-sizing: content-box;
    cursor: pointer;
}

.input-page {
    width: 6rem;
    height: 3rem;
    font-size: 1.6rem;
    padding: 0.5rem;
    border: 1px solid #96a2b4;
    border-radius: 8px;
    background-color: #f7fafc;
    color: #2d3748;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: none;
    position: absolute;
    top: 110%;
}

.pagination {
    position: relative;
    width: 100%;
    margin-top: 1.2rem;
    user-select: none;
}

.pagination > ul {
    position: absolute;
    right: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination > ul > li {
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #96a2b4;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.pagination > ul > li:hover {
    transform: scale(1.35);
}

.pagination-btn {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.8rem;
    box-sizing: border-box;
}

.pagination-prev {
    padding: 0.8rem 1rem 1rem 0.8rem;
}

.pagination-next {
    padding: 0.8rem 0.8rem 1rem 1rem;
}

.pagination-prev, .pagination-next {
    border: 1px solid #96a2b4;
    background-color: #1a202e;
    transform: translateY(0.2rem);
}

.pagination-btn.active {
    background-color: rgba(0, 123, 255, 0.1);
    color: white;
}

/* setting page */
.setting {
    display: block;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    box-shadow: 0 1px 2.94px .06px #041a3729;
    background-color: var(--primary-color);
}

.setting-item {
    display: flex;
    padding: 1.6rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.setting-item:hover {
    background-color: #0003;
    border-radius: 50px;
}

.setting-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-text-color);
    cursor: default;
}

.setting-description {
    font-size: 1.4rem;
    font-weight: 500;
    color: #96a2b4;
    cursor: default;
}

.setting-action svg {
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    box-sizing: content-box;
    cursor: pointer;
}

/* form */

.upload__form {
    min-height: 240px;
}

.upload__label {
    display: inline-block;  
    font-size: 2rem;
    font-weight: 600;
    color: #96a2b4;
}

.upload__container {
    position: relative;
    margin: 0 auto;
    width: max-content;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload__container img.preview {
    position: absolute;
    top: 0;
    left: 0;
    height: 19.7rem;
    width: 19.7rem;
    object-fit: cover;
    display: none;
    border-radius: 0.75rem;
}

.upload__onclick {
    position: relative;
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    border: 2px dashed #fff;
}

.upload__onclick-icon {
    margin: 0 auto;
    width: 6rem;
}

.upload__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    opacity: 0;
}

.upload__desc {
    font-size: 13px;
    color: #b2b2b2;
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.upload__button {
    display: none;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 15rem;
    border-radius: 9999px;
    border: 2px solid #000;
    padding: 0.75rem 1.25rem;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.upload__button:hover {
    background-color: #000;
    color: #fff;
}

.editing__information {
    margin-top: 1rem;
}

.update-err {
    
    color: #ff0000;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    margin: 10px 0 0px;
}

.change__info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.info__label {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #96a2b4;
}

.info__fieldset {
    margin-top: 1rem;
    border: none;
}

.input__wrapper {
    position: relative;
    margin-top: 1rem;
}

.info__input {
    height: 50px;
    width: 100%;
    border-radius: 0.75rem;
    background-color: #383838;
    padding: 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #a5a5a5;
    outline: none;
    font-size: 1.8rem;
}

.info__input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #ffffff;
}

.info__button {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 15rem;
    border-radius: 9999px;
    border: 2px solid #000;
    padding: 0.75rem 1.25rem;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.info__button:hover {
    background-color: #000;
    color: #fff;
}

.chatbot-container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 80vh;
    font-size: medium;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 80%;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    clear: both;
}

.user-message {
    background-color: #e6f2ff;
    align-self: flex-end;
    margin-left: auto;
}

.bot-message {
    background-color: #f2f2f2;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 15px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #1a202e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}